<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title><ui:insert name="titulo">Sistema Pedidos</ui:insert></title>
	<h:outputStylesheet name="estilo.css" />
</h:head>
<h:body>
	<header>
		<h:graphicImage name="logo.png" />
	</header>

	<p:dialog modal="true" widgetVar="statusDialog" header="Status"
		draggable="false" closable="false">
		<p:graphicImage value="resources/ajaxloadingbar.gif" />
	</p:dialog>

	<h:form>

		<p:growl id="atualizacao" />

		<p:menubar>
			<p:menuitem value="Home"  url="index.xhtml"/>

			<p:submenu label="Produto" rendered="#{sessaoUsuario.logado}">
				<p:menuitem value="Cadastrar"  url="salvarproduto.xhtml"/>
				<p:menuitem value="Listar"     url="listarprodutos.xhtml"/>
			</p:submenu>

			<p:submenu label="Pedido" rendered="#{sessaoUsuario.logado}">
				<p:menuitem value="Ver Carrinho"  url="carrinho.xhtml"/>
				<p:menuitem value="Realizados"    url="pedidosrealizados.xhtml"/>
			</p:submenu>

			<p:submenu label="Relatórios" rendered="#{sessaoUsuario.logado}">

				<p:menuitem value="Produtos Abaixo do Mínimo" ajax="false"
					styleClass="botao-menu"
					onclick="PrimeFaces.monitorDownload(start, stop)"
					actionListener="#{relatorioBean.gerarRelatorioProdutosAbaixoMinimo}" />

				<p:menuitem id="vendasefetuadas" value="Vendas Efetuadas"
					ajax="false" styleClass="botao-menu"
					onclick="PrimeFaces.monitorDownload(start, stop)"
					actionListener="#{relatorioBean.gerarRelatorioVendasEfetuadas}" />

				<p:menuitem id="prodquantfin"
					value="Quantitativo/Financeiro Produtos" ajax="false"
					styleClass="botao-menu"
					onclick="PrimeFaces.monitorDownload(start, stop)"
					actionListener="#{relatorioBean.gerarRelatorioQuantitativoFinanceiroProdutos}" />
			</p:submenu>

			<f:facet name="options">

				<p:commandButton value="Iniciar Aplicação" action="#{initBean.ver}" />

				<p:commandButton value="Logout" action="#{loginBean.logout}"
					rendered="#{sessaoUsuario.logado}">
				</p:commandButton>

				<p:commandButton id="modalDialogButton" value="Sobre"
					onclick="PF('dlg2').show();" type="button" />

			</f:facet>
		</p:menubar>

	</h:form>

	<p:dialog id="modalDialog" header="Sobre" widgetVar="dlg2" modal="true"
		resizable="false">
		<ui:include src="../sobre.xhtml" />
	</p:dialog>

	<div id="conteudo">
		<ui:insert name="corpo" />
	</div>
	<footer> Thiago Ramalho | Desenvolvedor </footer>

	<script type="text/javascript">
		function start() {
			PF('statusDialog').show();
		}

		function stop() {
			PF('statusDialog').hide();
		}
	</script>


</h:body>
</html>