<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="corpo">

		<h1>Lista de Produtos Adicionados ao Carrinho</h1>

		<h:form id="formulario">

			<p:dataTable var="p" value="#{carrinhoBean.itens}" id="grid">
				<p:column headerText="Nome">
					<h:outputText value="#{p.nome}" />
				</p:column>

				<p:column headerText="Quantidade">
					<h:outputText value="#{p.quantidade}" />
				</p:column>

				<p:column headerText="Preço Unitário">
					<h:outputText value="#{p.precoUnitario}">
						<f:convertNumber type="currency" locale="pt_BR" />
					</h:outputText>
				</p:column>

				<p:column headerText="Preço Total">
					<h:outputText value="#{p.precoTotal}">
						<f:convertNumber type="currency" locale="pt_BR" />
					</h:outputText>
				</p:column>

				<p:column headerText="Ações">
					<p:commandButton icon="ui-icon-trash" title="Remover do Pedido"
						actionListener="#{carrinhoBean.remover(p)}" process="@this"
						update="@form">
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<div id="total">
				<p:outputLabel value="Total do Pedido: " />
				<h:outputText value="#{carrinhoBean.valorTotal}">
					<f:convertNumber type="currency" locale="pt_BR" />
				</h:outputText>
			</div>
			<p:commandButton value="Finalizar Pedido" styleClass="botao-carrinho"
				action="#{carrinhoBean.finalizar}"
				disabled="#{carrinhoBean.estaVazio}" />
				
				
			<p:commandButton value="Limpar Pedido" styleClass="botao-carrinho"
				action="#{carrinhoBean.limpar}"
				disabled="#{carrinhoBean.estaVazio}" process="@this" update="@form" />
		</h:form>
	</ui:define>
</ui:composition>

