<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="corpo">

		<div id="login-dialog">
			<h1>Login</h1>

			<h:form id="frm">

				<p:messages autoUpdate="true" />

				<h:panelGrid columns="2" styleClass="grid">

					<p:outputLabel value="NickName" for="nickname" />
					<p:inputText id="nickname" size="20"
						value="#{loginBean.usuario.nick}" required="true" requiredMessage="NickName Obrigatório"/>

					<p:outputLabel value="Senha" for="senha" />
					<p:password id="senha" size="20" value="#{loginBean.usuario.senha}" required="true" requiredMessage="Senha Obrigatório"/>
					<p:outputLabel />

					<p:commandButton value="Acessar" action="#{loginBean.logar}" />
				</h:panelGrid>
				<p:outputLabel value="NickName: usuario | Senha: senha"  />				
			</h:form>
		</div>

	</ui:define>
</ui:composition>

