<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="corpo">

		<div id="iniciar-dialog">
				<h1>Iniciar Aplicação</h1>
			<h:form styleClass="grid">
				<p:outputLabel>Ao clicar no botão abaixo todos os cadastros efetuados serão excluídos e as configurações padrão serão realizadas</p:outputLabel>
				<br />
				<p:outputLabel>Obs.: Será cadastrado login NickName: usuario | Senha: senha</p:outputLabel>
				<br />
				
				<p:commandButton id="iniciar" value="Iniciar Aplicação" ajax="false"
						onclick="PrimeFaces.monitorDownload(start, stop)"
						actionListener="#{initBean.configurar}" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>

