<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{produtoBean.recuperar}" />
	</f:metadata>

	<ui:define name="corpo">

		<h1>Lista de Produtos</h1>

		<h:form id="form">
	
		<p:growl autoUpdate="true" life="1000"/>
								
			<p:dataTable var="p"  value="#{produtoBean.listaProdutos}">
			
				<p:column headerText="Nome">
					<h:outputText value="#{p.nome}" />
				</p:column>

				<p:column headerText="Quantidade">
					<h:outputText value="#{p.quantidade}" />
				</p:column>

				<p:column headerText="Quantidade Mínima">
					<h:outputText value="#{p.quantidadeMinima}" />
				</p:column>

				<p:column headerText="Preço">
					<h:outputText value="#{p.preco}">
						<f:convertNumber type="currency" locale="pt_BR" />
					</h:outputText>
				</p:column>

				<p:column headerText="Ações" styleClass="icone">
					<p:button icon="ui-icon-pencil" title="Editar"
						outcome="/salvarproduto">
						<f:param name="id" value="#{p.id}" />
					</p:button>
					
					<p:commandButton icon="ui-icon-cart" title="Adicionar ao Pedido"
						actionListener="#{carrinhoBean.adicionar(p)}" disabled="#{not p.possuiQuantidade}">
					</p:commandButton>					
				</p:column>
			</p:dataTable>
			
		</h:form>
	</ui:define>
</ui:composition>

