<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="corpo">

		<h1>Pedidos Realizados</h1>

		<h:form>

			<p:dataTable var="p" value="#{pedidoBean.pedidos}">
				<p:column headerText="#">
					<h:outputText value="#{p.id}" />
				</p:column>
	
				<p:column headerText="Valor">
					<h:outputText value="#{p.valorTotal}">
						<f:convertNumber type="currency" locale="pt_BR" />
					</h:outputText>
				</p:column>

				<p:column headerText="Data Fechamento">
					<h:outputText value="#{p.data.time}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" 
						timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>

