<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value="#{produtoBean.idSelecionado}" />
		<f:viewAction action="#{produtoBean.prepararEdicao}" />
	</f:metadata>

	<ui:define name="corpo">

		<div id="produto-dialog">
			<h1>Salvar Produto</h1>

			<h:form id="frm">

				<p:messages autoUpdate="true" />

				<h:panelGrid columns="2" styleClass="grid">

					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" size="20"
						value="#{produtoBean.produto.nome}" required="true" requiredMessage="Nome Obrigatório"/>

					<p:outputLabel value="Quantidade" for="quantidade" />
					<p:inputText id="quantidade" size="20"
						value="#{produtoBean.produto.quantidade}" required="true" requiredMessage="Quantidade Obrigatório"/>

					<p:outputLabel value="Quantidade Mínima" for="quantidademinima" />
					<p:inputText id="quantidademinima" size="20"
						value="#{produtoBean.produto.quantidadeMinima}" required="true" requiredMessage="Quantidade Mínima Obrigatório"/>

					<p:outputLabel value="Preço R$" for="preco" />
					<p:inputText id="preco" size="20"
						value="#{produtoBean.produto.preco}" required="true" requiredMessage="Preço Obrigatório"/>
					<p:outputLabel />

					<p:commandButton value="Salvar" action="#{produtoBean.salvar}" />

				</h:panelGrid>
			</h:form>
		</div>

	</ui:define>
</ui:composition>

