<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<h3>Tecnologias e Motivação</h3>
	<p>Aplicação criada como forma de demonstrar meus conhecimentos nas
		seguintes tecnologias:</p>
	<ul>
		<li>JSF2</li>
		<li>PRIMEFACES</li>
		<li>CDI</li>
		<li>MAVEN</li>
		<li>JPA</li>
		<li>HSQLDB</li>
		<li>CSS</li>
		<li>XHTML</li>
		<li>JASPER REPORTS</li>
	</ul>
	<h3>Autor</h3>
	<p>Thiago A. Ramalho ;)</p>
	<p>Desenvolvedor na plataforma Java, entusiasta de novas tecnologias e padrões de projeto</p>
			
		<h:outputLink value="http://bitbucket.org/thiagoRamalho">BitBucket</h:outputLink>
		|
		<h:outputLink value="http://bitbucket.org/thiagoRamalho/formsoft">Fontes Projeto</h:outputLink>
		|
		<h:outputLink value="http://linkedin.com/in/thiagoramalho">Linkedin</h:outputLink>
</h:body>
</html>