@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	padding: 5px;
	height: auto;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	margin:10px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

#login-dialog , #produto-dialog, #iniciar-dialog {
	margin: 0 auto;
}

#login-dialog {
	width: 260px;
}

#produto-dialog, #iniciar-dialog{
	width:400px;
}

#iniciar-dialog{
	text-align: justify;
}


.grid {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
	width: 100%
}

#frm td{
	padding-bottom:10px;
	text-align: right;
}

#total{
	font-size: 140%;
	margin-top:10px;
	float: left;
}

.icone button {
	margin-left:17%;
}

.botao-carrinho{
	margin:5px 10px 5px;
}

.botao-menu{
	width:100%;
}

